<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Fascinate&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/Fourteen.css">
  <title>Digital Art-14</title>
</head>

<body>
  <header>
    <div class="buttons">
      <button class="click" onclick="location.href='Bye'">Leave</button>
      <button class="click" onclick="location.href='Hall'">Go Back </button>
    </div>
    <div class="header">
      <h1>Room 14</h1>
      <h3>Please leave your comments below</h3>
    </div>
  </header>
  <section class="wrapper">
    <ul class="comments d4 d5" id="comments">
      <% for(let i=comment.length-1; i> 0; i--) {%>
        <li class="comment">
            <span> <%= comment[i].comments %></span>
            <span><%= comment[i].update %></span>
            <span><i id='like' class='fas fa-thumbs-up'></i></span>
            <span><i id='del' class='fas fa-trash-alt'></i></span>
        </li>
        <% } %>
    </ul>
  </section>
  <section class="input">
    <form id='form' action='/comment' method='POST'>
      <input name="comments" id="text" placeholder="Comment here" required maxlength="35" />
      <button id='btn' type="submit">Submit</button>
    </form id='form'>
  </section>
  <script src="/Fourteen.js"></script>
</body>

</html>