*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: rgb(231, 231, 222);
}
.swiper-wrapper{
  text-align: center;
}
.swiper {
  background-color:#ddc;
  border:solid 3vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:0.3rem;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 0 0 rgba(0,0,0,.25) inset, 0 0.5rem 1rem 0.5rem rgba(0,0,0,.25);
  box-sizing:border-box; 
  /* height:80vh;
  width: 45vw; */
  height:35rem;
  width: 45rem;
  position:relative;
  margin-top: 2rem;
}
  .swiper:before {
    border-radius:0.3rem;
    bottom:-2vmin;
    box-shadow:0 0.5rem 1rem 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  .swiper:after {
    border-radius:0.3rem;
    bottom:-2.5vmin;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin; 
  }
  .swiper-slide img{
    height: 100%;
    width: 100%;
  }
.swiper-button-prev,.swiper-button-next{
  color: white;
}
  .swiper-button-prev:hover,.swiper-button-next:hover{
    color: rgb(41, 41, 41);
    background-color:rgb(0, 0, 0,0.3);
    border: 0.3rem solid rgb(0, 0, 0,0.3);
    padding: 1.5rem 0.8rem 1.5rem 0.8rem;
    font-size: 3rem;
  }
  .buttons{
    text-align: center;
    margin-top: 1.5rem;
  }
    .button{
      font-size: 1rem;
      border-radius: 0.6rem;
      margin: 1rem 0 1rem 0;
      padding: 1rem 2rem 1rem 2rem;
      background-color: rgb(184, 184, 169);
      font-family: 'Crimson Text','Fascinate','cursive',sans-serif;
      margin: 0 auto;
      color: white;
      cursor: pointer;
      }
      .button:hover {
          background-color: rgb(107, 107, 193);
          transition:all 0.3s;
          color:white;
      }
/* Media queries*/
@media only screen and (min-width: 300px) and (max-width:600px){
  .swiper {
    background-color:#ddc;
    border:solid 3vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:0.3rem;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 0 0 rgba(0,0,0,.25) inset, 0 0.5rem 1rem 0.5rem rgba(0,0,0,.25);
    box-sizing:border-box; 
    height:35rem;
    width: 30rem;
    margin-top: 2rem;
  }
  .button{
    font-size: 1rem;
    border-radius: 0.6rem;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(184, 184, 169);
    font-family: 'Crimson Text','Fascinate','cursive',sans-serif;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    }
}
/* Media queries*/
@media only screen and (min-width: 601px) and (max-width:735px){
  .swiper {
    background-color:#ddc;
    border:solid 3vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:0.3rem;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 0 0 rgba(0,0,0,.25) inset, 0 0.5rem 1rem 0.5rem rgba(0,0,0,.25);
    box-sizing:border-box; 
    height:35rem;
    width: 40rem;
    margin-top: 2rem;
  }
}
