* {
  box-sizing: border-box;
  overflow: hidden;
  font-size: 67.5%;
  /* Sets rem to approx 10rem */
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246, 234, 218);
  font-family: 'Crimson Text', 'Fascinate', 'cursive', sans-serif;
}

header,
.exit {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 0.4rem;
  font-size: 6rem;
}

.pages {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.pages>a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-weight: 300;
}

.pages>a:hover {
  color: rgb(100, 100, 217);
}

.grid-containers {
  width: 40vw;
  height: 45vh;
}

.grid-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 0.8rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}

.images {
  display: block;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.5rem solid black;
  cursor: pointer;
}

.container {
  position: relative;
  margin-top: 5rem;
  width: 40vw;
  height: 44vh;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.txtbtn {
  font-size: 1.3rem;
  border-radius: 0.6rem;
  margin: 1rem 0 1rem 0;
  padding: 1rem 2rem 1rem 2rem;
  background-color: rgb(184, 184, 169);
  font-family: 'Crimson Text', 'Fascinate', 'cursive', sans-serif;
  color: white;
  cursor: pointer;
}

.txtbtn:hover,
.exitbtn:hover {
  background-color: rgb(107, 107, 193);
  transition: all 0.3s;
  color: white;
}

.exitbtn {
  font-size: 2rem;
  border-radius: 0.6rem;
  margin-top: 1rem;
  padding: 1.8rem 4rem 1.8rem 4rem;
  background-color: rgb(184, 184, 169);
  font-family: 'Crimson Text', 'Fascinate', 'cursive', sans-serif;
  color: white;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) {
  * {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  header,
  .exit {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.2rem;
    font-size: 8rem;
  }

  .grid-containers {
    width: 40vw;
    height: 45vh;
  }

  .grid-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    /* gap: 0.8rem; */
  }

  p {
    font-size: 2rem;
    font-weight: 400;
  }
  .images {
    display: block;
    height: 70vh;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0.5rem solid black;
    cursor: pointer;
  }

.container {
  position: relative;
  margin-top: 5rem;
  width: 40vw;
  height: 50vh;
}

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .txtbtn {
    font-size: 1.8rem;
    border-radius: 0.6rem;
    margin: 1rem 0 1rem 0;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgb(184, 184, 169);
    font-family: 'Crimson Text', 'Fascinate', 'cursive', sans-serif;
    color: white;
    cursor: pointer;
  }

  .txtbtn:hover,
  .exitbtn:hover {
    background-color: rgb(107, 107, 193);
    transition: all 0.3s;
    color: white;
  }

  .exitbtn {
    font-size: 3rem;
    border-radius: 0.6rem;
    margin-top: 1rem;
    padding: 1rem 4rem 1rem 4rem;
    background-color: rgb(184, 184, 169);
    font-family: 'Crimson Text', 'Fascinate', 'cursive', sans-serif;
    color: white;
    cursor: pointer;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}